<div class="grid grid-cols-4 justify-items-center gap-y-5 px-32 py-12">
	<app-player-card number="9" name="Robert Lewandowski" position="Forward"></app-player-card>
	<app-player-card number="9" name="Robert Lewandowski" position="Forward"></app-player-card>
	<app-player-card number="9" name="Robert Lewandowski" position="Forward"></app-player-card>
	<app-player-card number="9" name="Robert Lewandowski" position="Forward"></app-player-card>
	<div class="flex justify-center items-center w-12 h-12 fixed bottom-8 right-8 bg-blue-600 text-4xl text-white font-bold cursor-pointer" (click)="openForm()">
		+
	</div>
	<form class="flex flex-col gap-3 items-center justify-center px-3 py-10 border-2 border-black bg-slate-400 fixed transition-all"
		[class.add-player-form]="!formActive" [class.add-player-form-active]="formActive">
		<h2 class="text-xl">Add a new player</h2>
		<div class="grid grid-cols-2 gap-y-2">
			<label for="name">Name</label>
			<input type="text" class="px-1" id="name" name="name" [(ngModel)]="newPlayerName">
			<label for="number">Number</label>
			<input type="text" class="px-1" id="number" name="number" [(ngModel)]="newPlayerNumber">
			<label for="position">Position</label>
			<select name="position" id="position" [(ngModel)]="newPlayerPosition">
				<option value="Goalkeeper">Goalkeeper</option>
				<option value="Defender">Defender</option>
				<option value="Midfielder">Midfielder</option>
				<option value="Forward">Forward</option>
			</select>
		</div>
		<button class="bg-slate-800 text-white p-2" (click)="addPlayer()">Add a new player</button>
		<button class="absolute top-0 right-1" (click)="closeForm()">X</button>
	</form>
</div>
