<div class="grid grid-cols-4 justify-items-center gap-y-5 px-32 py-12">
	<app-player-card img="assets/lewandowski.png" name="Robert Lewandowski" position="Forward"></app-player-card>
	<app-player-card img="assets/lewandowski.png" name="Robert Lewandowski" position="Forward"></app-player-card>
	<app-player-card img="assets/lewandowski.png" name="Robert Lewandowski" position="Forward"></app-player-card>
	<app-player-card img="assets/lewandowski.png" name="Robert Lewandowski" position="Forward"></app-player-card>
	<app-player-card img="assets/lewandowski.png" name="Robert Lewandowski" position="Forward"></app-player-card>
</div>
